@import url(https://db.onlinewebfonts.com/c/dda65d7f418f4ab23abf484c807c9f17?family=Arboria-Medium);
@import url(https://db.onlinewebfonts.com/c/1c7f14203d028f1c6f8914508f469cb9?family=Arboria-Book);
@tailwind base;
@tailwind components;
@tailwind utilities;

article ul {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
}

article ul li {
  color: black;
}

article ul li::before {
  content: "";
  width: 1em;
  background-color: #4f46e5;
  font-weight: bold;
  display: inline-block;
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
  margin-right: 1em;
}
